    ${PERSONAE}:
        container_name: ${PERSONAE}
        image: ${REGISTRY:?REGISTRY is required}queencubator:${TAG_QUEEN:?TAG_QUEEN is required}
        volumes:
        - /opt/data/queencubator/memories:/queencubator/memories
        restart: always
        command:
            scripts/${PERSONAE}.sh
