    ${TAG_PERSONA}:
        container_name: ${TAG_PERSONA}
        image: ${REGISTRY:?REGISTRY is required}queencubator:${TAG_QUEEN:?TAG_QUEEN is required}
        volumes:
        - /opt/data/queencubator/memories:/queencubator/memories
        restart: always
        build:
            context: ./
            dockerfile: Dockerfile
        env_file:
            - .env
        command:
            scripts/${TAG_PERSONA}.sh
